.main-nav{
  background-color:#bdb2b1;
}
#nav2
{
  position: sticky;
  top: 0px;
}

.brand-img
{
  width: 40px;
  margin-left: 20px;
  bottom: 5px;
}

#input-field
{
  width: 500px;
  text-align: center;
  border: 1px solid black;
}

/* other css */



.navbar-brand
{
    font-family: fantasy;
    margin-left: 5px;
}



.btn 
{
    margin: 7px;
    color: #000000;
    font-size: 20px;
    border: 1px solid black;
}

.nav-link
{
    font-size: 20px;
    margin: 5px;
}

.brand-img
{
    height: 45px;
    width: 60px;
}



